<div
  class="mx-auto max-w-[1440px] px-6 lg:px-15 3xl:px-0 relative py-5 z-30 flex justify-between items-center"
>
  <!-- Logo -->
  <a routerLink="/home" class="font-bold text-4xl text-[#dda15e]">TrainALot</a>

  <!-- Nav links -->
  <ul class="hidden lg:flex lg:justify-center lg:items-center w-full gap-8">
    <!-- Private Nav links -->
    @if (this.accountService.currentUser()) { @for (link of PRIVATE_NAV_LINKS;
    track $index) {
    <li
      class="text-xl 3xl:text-2xl hover:cursor-pointer text-[#dda15e] hover:text-[#bc6c25] transition-all duration-300 transform hover:font-bold hover:scale-105"
      [routerLink]="link.href"
      routerLinkActive="!text-[#bc6c25] scale-105 font-bold"
    >
      {{ link.text }}
    </li>
    } }
    <!-- End of Private Nav links -->

    <!-- Public Nav links -->
    @else { @for (link of PUBLIC_NAV_LINKS; track $index) {
    <li
      class="text-xl 3xl:text-2xl hover:cursor-pointer text-[#dda15e] hover:text-[#bc6c25] transition-all duration-300 transform hover:font-bold hover:scale-105"
      [routerLink]="link.href"
      routerLinkActive="text-[#bc6c25] font-bold scale-105"
    >
      {{ link.text }}
    </li>
    }
    <!-- End of Public Nav links -->
    }
  </ul>

  @if(accountService.currentUser()){
  <!-- Log out button -->
  <div class="hidden lg:flex">
    <app-button
      text="Log out"
      type="button"
      styling="primary"
      (clicked)="accountService.logout()"
    ></app-button>
  </div>

  } @else {
  <!-- Log in and sign up buttons -->
  <div class="hidden lg:flex lg:justify-between lg:items-center gap-4">
    <app-button
      text="Log In"
      type="button"
      styling="primary"
      [routerLink]="['login']"
      routerLinkActive="router-link-active"
    ></app-button>
    <app-button
      text="Sign Up"
      type="button"
      styling="secondary"
      [routerLink]="['/signup']"
      routerLinkActive="router-link-active"
    ></app-button>
  </div>
  <!-- End of Log in and sign up buttons -->
  }

  <app-burger-menu></app-burger-menu>
</div>
