<div class="flex justify-center items-center lg:hidden">
  <!-- Burger Menu -->
  <div class="relative inline-block text-left">
    <img
      src="../../../assets/bars-solid.svg"
      alt="bars menu"
      class="hover:cursor-pointer z-50"
      width="25"
      height="25"
      (click)="toggleMenu()"
    />

    <!-- Menu Overlay -->
    <div
      [ngClass]="{ 'fixed inset-0 overlay-opacity z-50': isOpen }"
      (click)="closeMenu()"
    >
      <!-- Nav Links -->
      <div
        class="fixed top-0 right-0 h-full w-64 bg-white shadow-2xl transition-all duration-300 ease-in-out"
        [ngClass]="{ 'translate-x-0': isOpen, 'translate-x-full': !isOpen }"
      >
        <ul class="flex flex-col justify-center items-center gap-5 pt-16">
          <img
            src="../../../assets/xmark-solid.svg"
            alt="x mark"
            width="25"
            height="25"
            class="fixed top-6 right-6 hover:cursor-pointer"
            (click)="closeMenu()"
          />
          <!-- Private Nav links -->
          @if(accountService.currentUser()){ @for (link of PRIVATE_NAV_LINKS;
          track $index) {
          <a
            [routerLink]="link.href"
            routerLinkActive="router-link-active"
            class="text-lg 3xl:text-xl text-[#dda15e] hover:text-[#bc6c25]"
            >{{ link.text }}</a
          >

          } }
          <!-- Public Nav links -->
          @else{ @for (link of PUBLIC_NAV_LINKS; track $index) {
          <a
            [routerLink]="link.href"
            routerLinkActive="router-link-active"
            class="text-lg 3xl:text-xl text-[#dda15e] hover:text-[#bc6c25]"
            >{{ link.text }}</a
          >
          } } @if(accountService.currentUser()){
          <!-- Log out button -->
          <li class="mt-10 flex flex-col lg:hidden items-center justify-center">
            <app-button
              text="Log out"
              type="button"
              styling="primary"
              (clicked)="accountService.logout()"
            ></app-button>
          </li>

          }@else {
          <!-- Log in and sign up buttons -->
          <li
            class="flex flex-col lg:hidden justify-between items-center gap-4"
          >
            <app-button
              text="Log In"
              type="button"
              styling="primary"
              [routerLink]="['login']"
              routerLinkActive="router-link-active"
            ></app-button>
            <app-button
              text="Sign Up"
              type="button"
              styling="secondary"
              [routerLink]="['/signup']"
              routerLinkActive="router-link-active"
            ></app-button>
          </li>
          <!-- End of Log in and sign up buttons -->
          }
        </ul>
      </div>
      <!-- End of Nav Links -->
    </div>
    <!-- End of Menu Overlay -->
  </div>
  <!-- End of Burger Menu -->
</div>
